a{
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 50%;
    margin: 60px auto;
    letter-spacing: 6px;
}
li{
    text-transform: capitalize;
    font-size: 20px;
}
a:hover{
    text-decoration: none;
    color: white;
}
h2{
    margin-top: 20px;
}

table{
    width: 70%!important;
    margin: 20px auto;
}
#score{
    font-size: 22px;
}
p > span{
    color: red;
    font-weight: bold;
    text-transform: capitalize;
}
#drawResult{
    width: 900px;
    height: 600px;
    background-color: #ddd;
    border: 20px solid gray;
    margin: 120px auto;
    display: block;
    text-align: center;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color:  rgba(220, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
form{
    text-align: center;
    margin: 10px 20px;
}

.form-group{
    width: 50%!important;
    margin: 25px auto 30px!important;
}
.form-control{
    font-size: 1.15rem;
}
.btn-danger{
    font-size: 1.55rem;
    width: 40%;
    font-weight: 600;
}

/* bouton rejouer et changer  */

.styled{
    font-size: 1.2rem;
    margin: 15px auto;
}
.bckgreen{
    background-color: rgb(51, 204, 51);
}
.bckgreen:hover{
    background-color: rgb(41, 174, 51);
}